html, body, td, th, input, select, button {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 12px;
	color: #666;
}

html, body {
	height: 100%;
}

body {
	background: #FFF;
	margin: 0;
	padding: 0;
}

a {
	color: #444;
	text-decoration: none;
}
a:hover {
	color: #333;
}

button {
	font-size: 1.25em;
	font-weight: bold;
	color: #888;
	background: #FFF;
	border-style: solid;
	border-width: 1px;
	border-color: #CCC;
	padding: 0.5em 1em 0.5em 1em;
	cursor: pointer;
}
button:hover {
	background: #EEE;
	color: #666;
}

select {
	font-size: 1.2em;
}

/**  classes  ************************************************/

#content_container {
	position: relative;
	width: 100%;
	height: 100%;

	/* flex/box betas */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* flex (WC3) */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#app_container {
	width: 100%;
	height: 100%;
}

#app_ui_container {
	position: relative;
	width: 100%;
	height: 100%;

	/* flex/box betas */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* flex (WC3) */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#app_canvas_container {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
}

#title_block {
	text-align: center;
	margin-bottom: 16px;
}

#title_bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#title_bar_left {
	font-size: 1.6em;
	float: left;
	padding: 0.25em 0.5em;
}
#title_bar_left a {
	color: rgba(255,255,255,0.75);
	text-decoration: none;
}
#title_bar_left a:hover {
	color: rgba(255,255,255,0.95);
}

#title_bar_right {
	float: right;
	padding: 0.5em;
}

#loading_block {
	text-align: center;
	margin-bottom: 2em;
}
#loading_title {
	color: #CCC;
	font-size: 50px;
	font-weight: bold;
}
#loading_text {
	color: #CCC;
	font-style: italic;
	font-size: 11px;
}
#loading_bar_outer {
	background: #EEE;
	height: 2px;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 8px;*/
}
#loading_bar {
	background: #CCC;
	height: 100%;
	width: 0%;
}

#loading_container {
	position: relative;
	width: 100%;
	height: 100%;

	/* flex/box betas */
	display:-webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;

	/* flex (WC3) */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#txt_controls {
	padding: 1em 0em;
}

#notification {
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 1em;
	width: 100%;
	overflow: hidden;
}
#notification_text {
	font-size: 15px;
	font-weight: bold;
	color: #AAA;
	background: rgba(0,0,0,0.5);
	display: inline-block;
	padding: 0.5em 1em;
}

#logger {
	position: absolute;
	display: inline-block;
	right: 0;
	bottom: 0;
	padding: 0.25em 0.5em;
	font-family: monospace;
	color: #8C3;
	background: rgba(0,0,0,0.5);
}

.btn_icon {
	margin-left: 1em;
	cursor: pointer;
}

.tbl_config {
	display: inline-block;
}

.title_wordmark {
	font-size: 40px;
}

.key {
	background: #EEE;
	padding: 0.1em 0.5em;
}

.cfg_value {
	font-size: 1.25em;
	font-weight: bold;
}

.noselect {
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
